.App {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(
    to right top,
    #6683af,
    #599bb4,
    #6eaead,
    #95bda7,
    #c0c9ab
  );
}
.title {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
.inputContainer {
  display: flex;
  padding: 10px;
}
.inputContainer input {
  padding: 10px 10px 10px 20px;
  border: none;
  width: 500px;
  height: 30px;
}
.inputContainer input::placeholder {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #265183;
}
.inputContainer input:focus {
  outline: none;
}
.inputContainer button {
  font-size: 16px;
  font-weight: 400;
  width: 80px;
  margin-left: -80px;
  border: none;
  background-color: #31bea0;
  color: #fff;
  cursor: pointer;
}
.todoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #265183;
  margin: 5px;
  width: 500px;
}
.todoText {
  margin-left: 10px;
  color: #225997;
}
.todoContainer {
  display: flex;
  height: 50px;
}
.todoButtonsContainer button {
  margin-right: 10px;
}
.todoContainer button {
  background: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid #265183;
  padding: 7px;
}
.editableInput {
  flex-grow: 2;
  background: transparent;
  border: none;
  height: 50px;
  color: #fff;
  margin-left: 15px;
}
.editableInput:focus {
  outline: none;
}
